*/build
*/frontend
*/*.pid
build
kais
api_server/test.exe
api_server/main.exe
api_server/main_inference.exe
api_server/test
api_server/main
api_server/main_inference
api_server/test.go
core/engine
cli/main
cli/main.exe
cli/kais-cli
cli/kais-cli.exe
log.tmp
.vscode/settings.json
*.log
_internal
api_server/scripts/catcat_corr
api_server/scripts/catnum_corr
